.agent-list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    color: #FF5252;
    margin: 10%;
  }
  
  .agent-list-container img {
    width: auto;
    height: auto;
  }
  